<% provide(:title, @user.name) %>
<div class="row">
  <div id="profile-photo"class="col-md-4 center">
    <%= render 'users/profile_picture' %>
  </div>
  <div id="user-details" class="col-md-6">
    <div class="name-and-buttons">
      <h3><%=@user.username %></h3>
      <% if is_correct_user? %>
        <%= render 'edit_profile_button' %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= render 'unfollow_form', user: @user %>
        <% else %>
          <%= render 'follow_form', user: @user %>
        <% end %>
      <% end %>
    </div>
    <div class="user-stats">
      <%= render 'users/stats', user: @user %>      
    </div>
  </div>
  <% if is_correct_user? %>
    <span>
      <%= link_to user_path(current_user), method: 'delete', class:'btn btn-outline-danger' do %>
        Delete Account <i class="fas fa-user-times"></i>
      <% end %>
    </span>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 user-posts">
    <% @user.posts.each do |post| %>
      <%= image_tag post.picture, class: 'image-preview' %>
      <% end %>
  </div>
</div>
