<% provide(:title, @user.name) %>
<div class="row">
  <div id="profile-photo"class="col-md-4 center">
    <%= render 'users/profile_picture' %>
  </div>
  <div id="user-details" class="col-md-6">
    <h3>
      <%=@user.username %>
    </h3>
    <% if is_correct_user? %>
      <span>
        <%= link_to edit_user_path(current_user), class:'btn btn-outline-dark' do %>
          Edit Profile <i class="fas fa-cog"></i>
        <% end %>
      </span>
    <% end %>
    <div id="user-stats">
      <p><strong><%= @user.posts.count %></strong> <%= 'post'.pluralize(@user.posts.count) %>&emsp;
         <strong>42</strong> followers&emsp;
         <strong>34</strong> following
      </p>
      <p><strong id="user-name"><%= @user.name %></strong></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 user-posts">
    <% @user.posts.each do |post| %>
      <%= image_tag post.picture, class: 'image-preview' %>
      <% end %>
  </div>
</div>
