<li id="post-<%=post.id%>">
  <div class="image-header">
    <%= link_to image_tag(post.user.profile, id: 'image-header-profile'), user_url(post.user) %>
    <h6><%= link_to post.user.username, user_url(post.user) %></h6>
  </div>
  <div class="content">
    <%= image_tag post.picture.url %>
    <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
    <% if logged_in? && is_author?(post.id) %>
    <%= link_to post_path(post.id), method: 'delete'  do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
  <div class="caption">
    <p><strong><%= link_to post.user.username, user_url(post.user) %> </strong><%= post.caption if post.caption?%></p>
  </div>
  <% if !post.comments.empty? %>
    <div class="comments">
      <p><strong><%= post.comments.last.user.username %>
        </strong> <%= post.comments.last.content %>
        <% if logged_in? && comment_author?(post.comments.last.id) %>
          <span><%= link_to 'Delete', comment_path(post.comments.last), method: 'delete' %></span>
        <% end %>
      </p>
    </div>
  <% end %>
  <div class="time-posted">
    <p><%= time_ago_in_words(post.created_at.time) %> ago</p>
  </div>
  <% if logged_in? %>
    <%= render 'comments/comment_form', post: post %>
  <% end %>
</li>
