<li id="post-<%=post.id%>">
  <div class="image-header">
    <%= link_to image_tag(post.user.profile, id: 'image-header-profile'), user_url(post.user) %>
    <div class="image-header-text">
      <%= link_to post.user.username, user_url(post.user) %>
      <p><%= post.location %></p>
    </div>
  </div>
  <div class="content">
    <%= image_tag post.picture.url %>
    <% if logged_in? %>
      <%= render 'likes_form', post: post %>
      <a id="user-com" href="#"><i class="far fa-comment"></i></a>
      <% end %>
    <% if logged_in? && is_author?(post.id) %>
    <%= link_to post_path(post.id), method: 'delete'  do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
    <div class="number-of-likes">
      <%= liked_by(post)%>
    </div>
  </div>
  <div class="caption">
    <% if post.caption? %>
      <%= link_to post.user.username, user_url(post.user) %> <span><%= post.caption %></span>
    <% end %>
  </div>
    <%= render 'comments/comment', post: post %>
  <div class="time-posted">
    <p><%= time_ago_in_words(post.created_at.time) %> ago</p>
  </div>
  <% if logged_in? %>
    <%= render 'comments/comment_form', post: post %>
  <% end %>
</li>
