<li id="post-<%=post.id%>">
  <div class="image-header">
    <%= image_tag post.user.profile, id: 'image-header-profile' %>
    <h6><%= post.user.username %></h6>
  </div>
  <div class="content">
    <%= image_tag post.picture.url %>
    <i class="far fa-heart"></i>
    <i class="far fa-comment"></i>
  </div>
  <div class="comments">
    <p><strong><%= post.user.username %> </strong><%= post.caption if post.caption?%></p>
    <p><strong>UserName </strong>This is where the likes and comment box will go</p>
  </div>
  <div class="time-posted">
    <p><%= time_ago_in_words(post.created_at.time) %> ago</p>
  </div>
</li>
 
